<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">
    Built with <a href="https://github.com/cruller-club/beaukeh" target=_blank><i class="bi bi-heart"></i></a> in 2018 @ <a href="https://cruller.club/<%= @background_color.gsub('#','') %>" target=_blank>Cruller Club</a>.
    </span>
  </div>
</footer>