<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Built with <a href="https://github.com/cruller-club/beaukeh" target=_blank><i class="bi bi-heart"></i></a> in 2018.</span>
  </div>
</footer>