<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <%= link_to root_path(), { class: 'navbar-brand' } do %>
        <i class="fa-regular fa-badge"></i> beaukeh
      <% end %>
    </div>
  </nav>
</header>