/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
  opacity: 0.50;
}

.navbar {
  opacity: 0.50;
}

code {
  font-size: 80%;
}