<% view_title 'Welcome!' %>

<%= link_to background_path(@background_color) do %>
  <%= @svg.html_safe %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-12 text-center fancy">
      <%= beaukeh_button_group(@background_color) %>
    </div>
  </div>
</div>

<script>
  document.body.style.backgroundColor = "#<%= @background_color %>"
</script>