<% view_title 'Welcome!' %>

<% content_for :main do %>
    <svg id="beaukeh"></svg>
    <!-- <canvas id="canvas" width="800" height="600"></canvas> -->
    <h1 class="display-1 text-center beau">You got it!</h1>

    <script>
        var beaukeh = d3.select("#beaukeh");
        
        var width = document.querySelector("main").clientWidth;
        var height = Math.round(width * (0.40));

        draw();

        // PNG conversion shamelessly stolen from Nikita Rokotyan (http://bl.ocks.org/Rokotyan/0556f8facbaf344507cdc45dc3622177)
        var svgString = getSVGString(beaukeh.node());
        svgString2Image( svgString, 2 * width, 2 * height, 'png', save ); // passes Blob and filesize String to the callback

        console.log("Gimme-ing a [" + (2 * width) + "x" + (2 * height) + "] Beaukeh");

        function save( dataBlob, filesize ){
            saveAs( dataBlob, 'beaukeh.png' ); // FileSaver.js function
        }
    </script>
<% end %>
