<% view_title 'Welcome!' %>

<% content_for :main do %>
    <svg id="beaukeh"></svg>
    <!-- <canvas id="canvas" width="800" height="600"></canvas> -->
    <button class="btn btn-link" id="save">Download this beaukeh!</button>

    <script>
        var beaukeh = d3.select("#beaukeh");
        
        var width = document.querySelector("main").clientWidth;
        var height = Math.round(width * (0.40));

        draw();

        window.onresize = draw;
        document.querySelector("#beaukeh").onclick = draw;

        // PNG conversion shamelessly stolen from Nikita Rokotyan (http://bl.ocks.org/Rokotyan/0556f8facbaf344507cdc45dc3622177)
        d3.select('#save').on('click', function(){
            var svgString = getSVGString(beaukeh.node());
            svgString2Image( svgString, 2*width, 2*height, 'png', save ); // passes Blob and filesize String to the callback

            function save( dataBlob, filesize ){
                saveAs( dataBlob, 'beaukeh.png' ); // FileSaver.js function
            }
        });
    </script>
<% end %>
