#beaukeh {
  width: 100%;
}

.btn-link {
  color: #ffffff;
  opacity: 0.50;
}

main {
  max-width: 100%!important;
}

header {
  opacity: 0.50;
}

footer {
  opacity: 0.25;
}

h1.beau {
  color: #ffffff;
  opacity: 0.50;

  font-family: "Righteous";
  
  position: fixed;
  
  width: 100%;
  height: 100%;
  top: 40%; 
  left: 0;
  right: 0;
  bottom: 0;
}